@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}  

$scrollLength: 100vh;

.back-to-top-wrapper {
  top: $scrollLength;
}

.footer {
    position: absolute;
    margin:  auto 0;
    width:100vw;
    height:auto;
    background-color:#000000; 
    
    
    
}



.footer-box { 
    
  position: relative;
  width : 275px;
  height: 175px;
  margin:0 auto;
  top:10%;
  bottom: 50%;
  
}

#icons {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    

}

.arrow {
position: relative;
cursor: pointer;
top:30px;
background-color: #000000;
margin-left: 45.5%;

}


.github {

   cursor:pointer;
}

.twitter {
    cursor: pointer;
}

.linkedin{
    cursor: pointer;
    transition: all .01s ease-in;
}

hr{
    position: relative;
    top: 55%;
    border: 0;
    right:10%;
    width: 120%;
    border-top: 2px solid grey;
}

.footer_text{
    font-size: 0.8rem;
    text-align: center; /* Ensures text is centered if it breaks into multiple lines */
    max-width: 90%;
    margin-left: 6%;
    color: white;
}